<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.tests.RedBus_Partners_Test"/>
      <class name="com.tests.Bus_Hire_Test"/>
      <class name="com.tests.ManageBookingTest"/>
      <class name="com.tests.RedBus_JoiOperator_Test"/>
      <class name="com.tests.RPoolNew_Test"/>
      <class name="com.tests.LoginTest"/>
      <class name="com.tests.TripTest"/>
      <class name="com.tests.About_RedBus_Test"/>
      <class name="com.tests.Redbus_Colombia_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
